body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #004085;
    color: white;
    text-align: center;
    padding: 1rem;
}

main {
    padding: 2rem;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.purchase-card {
    flex: 0 0 calc(33.333% - 1rem);  /* adjusted width */
    box-sizing: border-box;
    margin: 0.5rem;  /* added margin */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.purchase-card img {
    max-width: 100%;
    max-height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}

.purchase-card h3, .purchase-card p {
    font-size: 18px;
    margin-bottom: 10px;
}

.purchase-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.price, h3, p {
    font-size: 1.2em;
}

.buy-button {
    background-color: #28a745;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
}

.buy-button:hover {
    background-color: #218838;
}

footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 1rem;
}
